/* Стилизация кнопок выпадающего меню */
body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
nav {
    width: 100%;
    padding: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
nav h1 {
    font-size: 24px;
    font-weight: bold;
}
.dropbtn {
    background-color: var(--tg-theme-button-color); /* Используем переменную или fallback цвет */
    color: var(--tg-theme-button-text-color);
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Контейнер для выпадающего меню */
.dropdown {
    position: relative;
    margin-top: 15px;
}
.dropdown-content {
    display: none;
}

/* Скрытые элементы меню */
.dropdown-content {
    display: none;
    position: relative; /* Исправлено на absolute для корректного позиционирования */
    background-color: var(--tg-theme-bg-color);
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Стили для элементов меню */
.dropdown-content .item {
    color: var(--tg-theme-text-color);
    padding: 4px 12px;
    display: block;
}

/* Изменение фона элемента меню при наведении */
.dropdown-content .item:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}

/* Изменить фон кнопки при наведении */
.dropdown:hover .dropbtn {
    background-color: var(--tg-theme-accent-text-color);
}

.menu {
    color: var(--tg-theme-link-color);
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
}
#saladDropdown button,
#soupDropdown button,
#porkDropdown button,
#beefDropdown button,
#chickenDropdown button, 
#fishDropdown button,
#vegeDropdown button,
#sidisDropdown button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: black;
    background-color: rgb(181, 183, 186);
    width: 20px;
    height: 20px;
}
#saladDropdown button:hover,
#soupDropdown button:hover {
    background-color: var(--tg-theme-accent-text-color);
    transform: scale(1.1);
}

.btn-count {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 20px;
    height: 20px;
}

.btn-count i {
    font-size: 16px;
}

.btn-count:hover {
    background-color: var(--tg-theme-accent-text-color);
    transform: scale(1.1);
}

.item span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    height: 30px;
    line-height: 30px;
}
.dropbtn .icon {
    display: inline-block;
    transition: transform 0.3s; /* Плавная анимация вращения */
}

.rotate-icon {
    transform: rotate(180deg); /* Поворот иконки на 180 градусов */
}
#confirm {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#confirm:hover {
    background-color: var(--tg-theme-button-color); /* Темно-зеленый цвет при наведении */
    transform: scale(1.05); /* Небольшое увеличение размера */
}

#confirm:active {
    background-color: var(--tg-theme-accent-text-color); /* Еще более темный зеленый цвет при нажатии */
    transform: scale(0.95); /* Сжатие при нажатии */
}

#confirm:focus {
    outline: none; /* Убираем контур при фокусе для эстетичности */
}
#orderSummary {
    background-color: var(--tg-theme-section-bg-color);
    border-color: var(--tg-theme-section-separator-color);
}

#orderSummary h2 {
    background-color: var(--tg-theme-header-bg-color);
    color: var(--tg-theme-section-header-text-color);
}

#orderList li {
    color: var(--tg-theme-text-color);
}

#deliveryOptions label {
    color: var(--tg-theme-hint-color);
}
input[type="radio"] {
    accent-color: var(--tg-theme-accent-text-color);
}
#deliveryOptions {
    padding: 10px;
    background-color: #ffffff; /* Цвет фона */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#deliveryOptions label {
    background-color: #f0f0f0; /* Серый фон для неактивных кнопок */
    color: #000000; /* Черный цвет текста */
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#deliveryOptions input[type="radio"] {
    display: none;
}

#deliveryOptions input[type="radio"]:checked + label {
    background-color: #ffcc00; /* Желтый цвет для активной кнопки */
    color: #ffffff;
}

#deliveryOptions label:hover {
    background-color: #dddddd;
}

#additionalInfo {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#additionalInfo label {
    display: block;
    margin-bottom: 5px;
    color: #666666; /* Темно-серый цвет текста */
}

#additionalInfo input[type="text"],
#additionalInfo textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}

#additionalInfo textarea {
    height: 80px;
    resize: none; /* Запрет на изменение размера */
}

/* #saladbuttom{
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color)
} */