/* Стилизация кнопок выпадающего меню */
@media (max-width: 600px) {
    #menu {
        font-size: 14px;
    }
    .dropdown {
        width: 100%;
    }
    .dropbtn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
    .dropdown-content {
        width: 100%;
    }
}
@font-face {
    font-family: 'Tex Gyre Schola';
    src: url('path/to/TexGyreSchola-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
nav {
    width: 100%;
    padding: -20px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
nav h1 {
    font-size: 24px;
    font-weight: bold;
}
.dropbtn {
    background-color: var(--tg-theme-button-color); /* Используем переменную или fallback цвет */
    color: var(--tg-theme-button-text-color);
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

/* Контейнер для выпадающего меню */
.dropdown {
    position: relative;
    margin-top: 15px;
}
.dropdown-content {
    display: none;
}

/* Скрытые элементы меню */
.dropdown-content {
    display: none;
    position: relative; /* Исправлено на absolute для корректного позиционирования */
    background-color: var(--tg-theme-bg-color);
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Стили для элементов меню */
.dropdown-content .item {
    color: var(--tg-theme-text-color);
    padding: 4px 12px;
    display: block;
}

/* Изменение фона элемента меню при наведении */
.dropdown-content .item:hover {
    background-color: var(--tg-theme-secondary-bg-color);
}

/* Изменить фон кнопки при наведении */
.dropdown:hover .dropbtn {
    background-color: var(--tg-theme-accent-text-color);
}

.menu {
    color: var(--tg-theme-link-color);
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
}
#saladDropdown button,
#soupDropdown button,
#porkDropdown button,
#beefDropdown button,
#chickenDropdown button, 
#fishDropdown button,
#vegeDropdown button,
#sidisDropdown button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: black;
    background-color: rgb(181, 183, 186);
}
#saladDropdown button:hover,
#soupDropdown button:hover {
    background-color: var(--tg-theme-accent-text-color);
    transform: scale(1.1);
}

.btn-count {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 20px;
    height: 20px;
}

.btn-count i {
    font-size: 16px;
}

.btn-count:hover {
    background-color: var(--tg-theme-accent-text-color);
    transform: scale(1.1);
}

.item span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    height: 30px;
    line-height: 30px;
}
.dropbtn .icon {
    display: inline-block;
    transition: transform 0.3s; /* Плавная анимация вращения */
}

.rotate-icon {
    transform: rotate(180deg); /* Поворот иконки на 180 градусов */
}
#confirm {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#confirm:hover {
    background-color: var(--tg-theme-button-color); /* Темно-зеленый цвет при наведении */
    transform: scale(1.05); /* Небольшое увеличение размера */
}

#confirm:active {
    background-color: var(--tg-theme-accent-text-color); /* Еще более темный зеленый цвет при нажатии */
    transform: scale(0.95); /* Сжатие при нажатии */
}

#confirm:focus {
    outline: none; /* Убираем контур при фокусе для эстетичности */
}
#orderSummary {
    background-color: var(--tg-theme-section-bg-color);
    border-color: var(--tg-theme-section-separator-color);
}

#orderSummary h2 {
    background-color: var(--tg-theme-header-bg-color);
    color: var(--tg-theme-section-header-text-color);
}

#orderList li {
    color: var(--tg-theme-text-color);
}

#deliveryOptions label {
    color: var(--tg-theme-hint-color);
}
input[type="radio"] {
    accent-color: var(--tg-theme-accent-text-color);
}
.delpick{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для блока */
    width: 100%;
    border-radius: 10px; /* Округлые края для всего блока */
}

#deliveryOptions label {
    background-color: #f0f0f0; /* Серый фон для неактивных кнопок */
    color: #000000; /* Черный цвет текста */
    padding: 10px 20px;
    border-radius: 10px; /* Округлые края для каждой кнопки */
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /* Кнопки будут одинаковой ширины */
    text-align: center; /* Текст по центру */
}

#deliveryOptions input[type="radio"] {
    display: none;
}

#deliveryOptions input[type="radio"]:checked + label {
    background-color: #FFD700; /* Золотой/жёлтый цвет для активной кнопки */
    color: #ffffff;
}

#deliveryOptions label:hover {
    background-color: #cccccc; /* Серый цвет при наведении */
}

#additionalInfo {
    display: block;
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#additionalInfo .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Разделение пространства на две колонки */
    gap: 20px; /* Отступ между колонками */
}

#additionalInfo label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Темно-серый цвет текста */
}

#additionalInfo input[type="text"],
#additionalInfo textarea {
    width: 100%; /* Исправлено с 99% на 100% для полного заполнения колонки */
    padding: 8px;
    border-radius: 8px;
    background-color: #848484c2; /* Серый фоновый цвет с непрозрачностью */
    border: none;
    margin-bottom: 10px;
}

#additionalInfo textarea {
    height: 80px; /* Высота текстового поля */
    resize: none; /* Запрет на изменение размера */
}

#deliveryOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    margin: 5px;
}



#deliveryOptions input[type="radio"]:checked + label {
    background-color: #FFD700; /* Желтый */
    color: #FFF;
}
.hub{
    display: block;
}
#pickupLocation {
    display: flex;
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    cursor: pointer;
}

.locationImage {
    margin-right: 10px; /* Отступ справа для разделения изображения и текста */
}

.locationText {
    display: flex;
    flex-direction: column; /* Организация текстовых блоков в вертикальную колонку */
}

.addressInfo {
    display: flex; /* Включаем flex для всего контейнера адреса */
    align-items: center; /* Центрируем содержимое по вертикали */
}

.addressInfo p {
    margin: 0; /* Убираем стандартные отступы у параграфов */
}

img {
    width: auto; /* Фиксированная ширина для изображения */
    height: 30px; /* Высота подстраивается автоматически */
    padding-left: 5px;
}
#comments {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 20px; /* Уменьшенная высота */
    padding: 8px; /* Поле вокруг текста внутри textarea */
    border: 1px solid #ccc; /* Легкая, тонкая граница */
    border-radius: 4px; /* Скругленные углы */
    resize: none; /* Запрет на изменение размера пользователем */
    font-size: 14px; /* Размер шрифта текста */
    line-height: 1.5; /* Межстрочный интервал */
    color: #666; /* Цвет текста */
    background-color: #fff; /* Фоновый цвет */
    outline: none; /* Убираем контур при фокусе */
}

#comments:focus {
    border-color: #66afe9; /* Изменение цвета границы при фокусе */
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(102, 175, 233, 0.6); /* Усиленная тень при фокусе */
}

label {
    display: block; /* Сделать метку блочным элементом */
    margin-bottom: 5px; /* Отступ перед текстовым полем */
    color: #333; /* Цвет текста метки */
    font-size: 16px; /* Размер шрифта метки */
}

.selected {
    background-color: #4CAF50; 
    color: white;
}
.outerAddressButtonContainer {
    display: flex;
    justify-content: center; /* Выравнивание внутреннего контейнера по центру */
    align-items: center; /* Вертикальное выравнивание */
    padding: 2px; /* Внешние отступы для большего пространства вокруг */
    background-color: #ffffff; /* Светлый фон для внешнего контейнера */
    border-radius: 10px; /* Скругление углов */
}

.innerAddressButtonContainer { /* Золотистая рамка вокруг кнопки */
    padding: 10px; /* Внутренние отступы */
    border-radius: 10px; /* Скругление углов */
    background-color: white; /* Белый фон для контраста с внешним контейнером */
}

#selectDeliveryButton, 
#selectOnSiteButton{
    border-radius: 15px;
    background-color: #FFD700;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px; /* Увеличение отступов для большего удобства */
    border: none;
    font-family: 'Tex Gyre Schola', serif;
    font-weight: bold;
    outline: none;
    transition: background-color 0.3s;
}

#selectDeliveryButton:hover,
#selectOnSiteButton:hover {
    background-color: #E0C200; /* Светлее при наведении */
}



/* Дополнительные стили для улучшения вида формы и элементов */
/* #saladbuttom{
    color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color)
} */